@import url(http://fonts.googleapis.com/css?family=Lato:400,100,200,300,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
background-color:#2E2E2E;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
overflow-x:hidden;

}

a {
  text-decoration: none;
  color:white;
}

h3 {
  color:#BBD7ED;
}

img{
  height: auto;
  max-width:100%;
}

.header{
  width:100%; 
  text-align: right;
  color:white;
}

.header-content{
  margin-left: auto;
  margin-right: auto;
  width:80%;
  padding-top: 1em;
  padding-bottom: 1em;
  color:white;
  font-size: 0.8em;
  list-style-type: none;
}

.header-content ul li{
  list-style-type: none;
  display:inline-block;
}

.header-content a {
  display:inline;
  color:white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  padding:0.4em;

}

.header-content a:hover {
  color:#75d6b3;
  transition: .3s color;
}

.logo{
  display:inline-block;
  padding:0.3em;
  float:left;
  position: relative;
  bottom:4.0em;
  right:6em;
}



.contact-container {
  position:relative;
  left:10em;
  top:5em;
  border-left border-right:0.1em #444 solid;
  padding:0.3em;

}

#map-canvas {
  display: block;
  width:45em;
  height:30em;
  background-color:#CCC;
  position:relative;
  bottom:30em;
  left:35em;
  border-left: 0.1em #444 solid;
  padding:0.2em;
}



form {
  color:white;
  width:30%;
}

form .input {
  width:75%;
  background-color:#191919;
  border:0.2em #444 solid;
  border-radius:0.3em;
  padding:0.4em;
  color:white;
  
}


form .input:focus {
  outline:none;
  border:0.1em #f9c9a2 solid;
}

textarea  {
  width:75%;
  background-color:#191919;
  border:0.2em #333 solid;
  border-radius:0.5em;
  color:white;
  font-family font-family: 'Lato', sans-serif; 
  font-weight: 200;
}

textarea:focus {
  outline:none;
  border:0.1em #f9c9a2 solid;
  border-radius:0.5em;
}

form p {
  text-indent: 0.3em;
}

.graphics-img {
  position:relative;
  top:0.3em;
  right:3em;
}

.about-info {
  display:inline-block;
  position:relative;
  bottom:4em;
  left:2em;
  width:50%;
  padding:0.5em;
  margin:0.5em;
}

.about-info h3 {
  border-bottom:0.1em solid white;
  padding:0.3em;
  margin:0.4em;
  color:white;
}

.hobbies-img {
  position:relative;
  top:1em;
  left:18em;
  padding-bottom:3em;
}

.paragraph-about {
  color:#99D6EA;
  text-indent: 0.8em;
}

.img-about {
  position:relative;
  top:0.5em;
  left:5em;
  padding:3em;
  margin-right: auto:;
  margin:left:auto;

}

.page-headings {
  color:#dbd5df;
  font-weight: 400;
  border-bottom:0.1em solid white;
}

.works-heading {
  border-bottom:0.1em solid white;
  font-size:1.3em;
  color:white;
  padding:0.2em;
  width:80%;
  position:absolute;
  left:7em;
  top:30em;
  text-align: center;
}

.intro-text {
  position:relative;
  top:14.5em;
  left:25em;
  color:white;
}

.work-description-text {
  width:100%;
  margin-bottom: 3em;
  display:block;
  color:white;
}

.works-detail-overview {
  color:#D3F1F7;
  text-align: left;
  width:80%;
  position:relative;
  top:4.2em;
  left:6em;
}

.work-process-text {
  color:white;
  display:block;
  position:relative;
  top:13em;
  left:6em;
  width:80%;

}

.work-process-img {
  position:relative;
  top:10em;
  left:15em;
}


.work-iteration-text {
  color:white;
  display:block;
  position:relative;
  top:18em;
  left:6em;
  width:80%;

}

.work-iteration-img {
  position:relative;
  top:15em;
  left:15em;
}


.work-finale-text {
  color:white;
  display:block;
  position:relative;
  top:22em;
  left:6em;
  width:80%;
  padding:0.3em;

}

.work-finale-img {
  position:relative;
  top:20em;
  left:15em;
}


.work-one {
  position:relative;
  top:25em;
  left:50em;
}

.work-two {
  position:relative;
  top:25em;
  right:6em;
}

.work-one:hover {
  opacity:0;
}

.work-two:hover {
  opacity:0;
}

.border {
  width:80%;
  border:0.1em solid white;
  position:relative;
  top:19em;
  left:6em;
}

.works-icons {
  position:absolute;
  top:50em;
  left:7em;
  float:left;
  display: block;
 

}

.work-detail-img {
  position:relative;
  top:10em;
}

.page-headings-work-process {
  border:none;
  position: relative;
  top:13em;
  right:19em;
  color:#D3F1F7;
  font-weight: 300;
}


.page-headings-work-iteration {
  border:none;
  position: relative;
  top:10em;
  left:4em;
  color:#D3F1F7;
  font-weight: 300;
}

.page-headings-work-finale {
  border:none;
  position: relative;
  top:13em;
  left:4em;
  color:#D3F1F7;
  font-weight: 300;
}


 /*@media screen and (min-width: 37.5em) {}*/
 	.header-content li {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 7.5em;
    border-bottom: none;
    font-size: 1.4em;
  }
 
  .header-content li {
    display: inline-block;
    margin-right:0.1em;
  }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
}


[class^='grid-col-'] {
  float: left;
  text-align: center; 
}

.grid-col-1 {
  width:25%;
  padding:1em;
  position:relative;
  top:5em;
  right:8em;
  text-align: left;
  margin:0.5em;
  color:white;
}

.grid-col-1 .page-headings {
 border:none;
 font-size:1.8em;
 font-weight:600;
 color:#B7E9F2;
 }


.grid-col-2of10 {
  width:25%;
  padding:1em;

}

.grid-col-2of10-about article {
  border-left:0.1em solid white;
  padding:1em;
  box-sizing:border-box;
}

.grid-col-4of10 {
  width:50%;
  padding:1em;
}

.grid-col-5of10 {
  width:50%;
  padding:1em;

}

.grid-col-2of10-main{
  width:25%;
  padding:0;
}

.grid-col-2of10-main figure{
  margin:1.5em;
}




 @media screen and (max-width: 68.5em) {



  .grid-col-5of10 {
    width: 100%;
  }

  .grid-col-2of10 {
    width: 100%;
  }

  .grid-col-2of10-main {
    width:100%;
  }

  .grid-col-1 {
    width:50%;
     padding:1em;
    position:relative;
    top:5em;
    right:8em;
    text-align: left;
  margin:0.8em;

  }

  .grid{
  width: 40%;
  text-align: center;
  color:white;
  float:left;
  
  }

.grid:after {
  content: "";
  display: block;
  clear: both;

}

.grid-contacts {
  width:30%;
  text-align: left;
}

}

/* ---- Buttons ---- */
.button-send { 
position: absolute;
    right: 0.6em;
    bottom: 0.6em;
    width: 24%;
    height: 3em;
    padding: 0;
    border: none;
    background: #0d0d0d;
    color: #b9b9b9;
    letter-spacing: 0.25em;
  }

.button-send:hover{
  border:0.1em solid #caae61;
  color: #caae61;
  background-color: white; 
  transition: .3s background-color;

}

.button-send:active{
  border:0.1em solid #DDCB9A;
  color: white;
  background-color: #DDCB9A; 
  transition: .3s background-color;

}

.view-work-btn {
  position:relative;
  top:-5em;
  left:4em;
  border:0.1em solid white;
  border-radius:0.3em;
  padding-left: 1.9em;
  padding-right:1.9em;
  padding-top:1em;
  padding-bottom:1em;
  margin:1em;
  width:100%;
  text-decoration: none;
  color:#6ab8e7;
  font-weight: 600;

}

.view-work-btn:hover {
  border-radius:0.3em;
  border:0.1em solid white;
  padding-left: 1.9em;
  padding-right:1.9em;
  padding-top:1em;
  padding-bottom:1em;
  margin:1em;
  width:100%;
  background-color:white;
  color:#0099CC;

}

.view-work-btn:active {
  border:0.1em solid white;
  padding-left: 1.9em;
  padding-right:1.9em;
  padding-top:1em;
  padding-bottom:1em;
  margin:1em;
  width:100%;
  color:#b5deec;

}


.about-me-btn {
  position:relative;
  top:-5em;
  left:5em;
  border:0.1em solid white;
  border-radius:0.3em;
  padding-left: 1.9em;
  padding-right:1.9em;
  padding-top:1em;
  padding-bottom:1em;
  margin:1em;
  width:100%;
  text-decoration: none;
  color:#56ff56;
  font-weight: 600;

}

.about-me-btn:hover {
  border-radius:0.3em;
  border:0.1em solid white;
  padding-left: 1.9em;
  padding-right:1.9em;
  padding-top:1em;
  padding-bottom:1em;
  margin:1em;
  width:100%;
  background-color:white;
  color:#5ec478;

}

.about-me-btn:active {
  border:0.1em solid white;
  padding-left: 1.9em;
  padding-right:1.9em;
  padding-top:1em;
  padding-bottom:1em;
  margin:1em;
  width:100%;
  color:#b5deec;

}

.next-arrow {
  width: 0; 
  height: 0; 
  border-top: 1.9em solid transparent;
  border-bottom: 1.9em solid transparent;
  
  border-left: 1.9em solid #eee85d;
}


.next-work-btn {
  position:relative;
  top:30em;
  left:65em;
  border:0.1em solid white;
  border-radius:0.3em;
  padding:0.9em;
  margin:auto;
  width:100%;
  text-decoration: none;
  color:#6ab8e7;
  font-weight: 600;

}

.next-work-btn:hover {
  border-radius:0.3em;
  border:0.1em solid white;
  padding:0.9em;
  margin:auto;
  width:100%;
  background-color:white;
  color:#0099CC;

}

.next-work-btn:active {
  border:0.1em solid white;
  padding:0.4em;
  margin:auto;
  width:100%;
  color:#b5deec;
  padding:0.9em;

}



.works-container {
  width:auto;
  height:auto;
  padding:2em;
}

#works-one {
  color:white;
  width:80%;
  background-color: blue;
  padding:3em;
}

